body{
   margin-left:0;
   padding:0;
   background-color:white;
}

input{
   margin-right:10px;
   margin-left:40px;
   padding:5px 5px;
   border:2px black solid;
   outline:none;
}
input:hover{
   transform:scale(1.05);
}
#toDoBtn{
   padding:5px 5px;
   border-radius:5px;
   border:none;
   background:green;
   color:white;
   font-weight:bolder;
   cursor:pointer;
}
#toDoBtn:hover{
   transform:scale(1.09);
}

#deleteAllBtn{
   margin-left:10px;
   padding:5px 5px;
   border-radius:5px;
   margin-top:10px;
   font-weight:bold;
   background:red;
   color:white;
   border:none;
   cursor:pointer;
}
#deleteAllBtn:hover{
   transform:scale(1.09);
}

.deleteBtn{
   padding:5px 5px;
   border-radius:10px;
   font-weight:bold;
   background:red;
   color:white;
   border:none;
   cursor:pointer;
}
.deleteBtn:hover{
   transform:scale(1.09);
}

p{
   color:blue;
   display:inline-block;
   overflow-wrap: break-word;
   width:250px;
   padding:5px 5px;
   margin-right:10px;
   margin-bottom:5px;
}

li{
   list-style:none;
   border-bottom: solid 2px black;
   padding-bottom:1px;
   margin-top:1px;
   width:325px;
}